<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>BioCC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/FirstPage.html">BioCC</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/FirstPage.html">Home</a></li>
        </ul>
        <form class="navbar-form navbar-right" method="post" action="search" enctype="multipart/form-data">
            <div class="input-group">
                <input th:type="text" name="text" class="form-control" placeholder="Search"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAuthenticated()">
                <a href="/logout" th:method="post"><span class="glyphicon glyphicon-log-out"> </span> Sign Out</a>
            </li>

            <li sec:authorize="isAnonymous()">
                <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAuthenticated()">
                <a> Logged as <span sec:authentication="name" style="text-transform: capitalize "></span></a>
            </li>

        </ul>
    </div>

</nav>

<div class="container" style="margin-top:40px">
    <p style="visibility: hidden">hidden</p>
</div>



<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Search results:</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Acronym</th>
                    <th>Old nummeration</th>
                    <th>Isolation source</th>
                    <th>Isolation date</th>
                    <th>Genus</th>
                    <th>Species</th>
                    <th sec:authorize="isAuthenticated()">
                        Subspecies
                    </th>
                    <th sec:authorize="isAuthenticated()">
                        MALDI score
                    </th>
                    <th sec:authorize="isAuthenticated()">
                        Position in fridge
                    </th>
                    <th sec:authorize="isAuthenticated()">
                        Storage date
                    </th>

                    <th>Cultivation conditions</th>
<!--                    <th th:width="auto">File</th>-->
                    <th sec:authorize="isAuthenticated()">
                        Actions
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="plant : ${search}">
                    <td th:text="${plant.id}"></td>
                    <td><a th:href="@{'/acronym/' + ${plant.id}}"><div th:utext="${plant.Acronym}"></div></a></td>
                    <td th:text="${plant.Old_nummeration}"></td>
                    <td th:text="${plant.Isolation_source}"></td>
                    <td th:text="${plant.Isolation_date}"></td>
                    <td th:text="${plant.Genus}"></td>
                    <td th:text="${plant.Species}"></td>
                    <td sec:authorize="isAuthenticated()" th:text="${plant.Subspecies}"></td>
                    <td sec:authorize="isAuthenticated()" th:text="${plant.MALDI_score}"></td>
                    <td sec:authorize="isAuthenticated()" th:text="${plant.Position_in_fridge}"></td>
                    <td sec:authorize="isAuthenticated()" th:text="${plant.Storage_date}"></td>
                    <td th:text="${plant.Cultivation_conditions}"></td>
<!--                    <td th:each="one : ${plant.files}"><a th:href="@{'/picture/' + ${one.id}}"><div th:utext="${one.fileName}"></div></a></td>-->
                    <td sec:authorize="isAuthenticated()">
                        <!--                            <form style='float:left; padding:5px; height:0px' th:method="get" th:action="@{'/change/'+${plant.id}+'/form'}"><button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-pencil"></span></button></form>-->
                        <form style='float:left; padding:5px; height:0px' th:method="delete" th:action="@{'/delete/'+${plant.id}}"><button class="btn btn-default btn-xs" type="submit" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-trash"></span></button></form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>